<mat-toolbar>
  <mat-toolbar-row>
    <div flex layout="row" layout-align="start center">
      <mat-icon class="push-left-sm push-right">insert_chart</mat-icon>
      <span class="push-left-xs">Monitoring</span>
      <span flex></span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div layout-gt-sm="row" layout-align="center start" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <div flex-xs="90" flex-sm="80" flex-md="80" flex-lg="75" flex-gt-lg="60" tdMediaToggle="gt-sm" [mediaClasses]="['pad-top-lg']">
    <div class="pad-sm">
      <h2 class="mat-headline">Bookmarked Dashboards &amp; Reports</h2>
      <mat-divider></mat-divider>
    </div>
    <div layout-gt-sm="row">
      <div flex-gt-sm="33">
        <mat-card>
          <mat-card-subtitle class="pad push-none">Dashboard</mat-card-subtitle>
          <mat-card-title style="padding-top:0">System Health</mat-card-title>
          <mat-card-content>
            Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
          </mat-card-content>
          <mat-card-actions>
            <a mat-button color="primary" class="text-upper" [routerLink]="'dashboard'">
              <span>View</span>
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div flex-gt-sm="33">
        <mat-card>
          <mat-card-subtitle class="pad push-none">Dashboard</mat-card-subtitle>
          <mat-card-title style="padding-top:0">System Health</mat-card-title>
          <mat-card-content>
            Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
          </mat-card-content>
          <mat-card-actions>
            <a mat-button color="primary" class="text-upper">
              <span>View</span>
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
      <div flex-gt-sm="33">
        <mat-card>
          <mat-card-subtitle class="pad push-none">Dashboard</mat-card-subtitle>
          <mat-card-title style="padding-top:0">System Health</mat-card-title>
          <mat-card-content>
            Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
          </mat-card-content>
          <mat-card-actions>
            <a mat-button color="primary" class="text-upper">
              <span>View</span>
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="pad-sm push-top">
      <h2 class="mat-headline">Your Dashboards</h2>
      <mat-divider></mat-divider>
    </div>
    <div layout-gt-sm="row">
      <div flex-gt-sm>
        <mat-card>
          <div class="pad">search</div>
          <mat-divider></mat-divider>
          <mat-nav-list>
            <ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4]">
              <a mat-list-item>
                <mat-icon matListAvatar>dashboard</mat-icon>
                <h4 mat-line><span class="text-wrap">Marketing org dashboard</span></h4>
                <p mat-line>Organizational KPIs and metrics</p>
                <span>
                  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item>
                      <mat-icon>aspect_ratio</mat-icon>
                      <span>Maximize</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>share</mat-icon>
                      <span>Share</span>
                    </button>
                    <button mat-menu-item>
                      <mat-icon>remove_circle_outline</mat-icon>
                      <span>Remove pin</span>
                    </button>
                  </mat-menu>
                </span>
              </a>
              <mat-divider *ngIf="!last"></mat-divider>
            </ng-template>
          </mat-nav-list>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <a mat-button color="primary" class="text-upper">
              <span>View More</span>
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
    <div class="pad-sm push-top">
      <h2 class="mat-headline">Your Alerts</h2>
      <mat-divider></mat-divider>
    </div>
    <div layout-gt-sm="row">
      <div flex-gt-sm>
        <mat-card>
          <div class="pad">search</div>
          <mat-divider></mat-divider>
          <ng-template let-last="last" ngFor [ngForOf]="[0,1,2]">
            <div class="pad">
              <h3 class="mat-headline push-none">Job response time is outside thresholds</h3>
              <p class="push-none tc-faded">22 minutes ago</p>
              <td-chart [style.height.px]="150"
                        [config]="chart5">
              </td-chart>
            </div>
            <mat-divider *ngIf="!last"></mat-divider>
          </ng-template>
          <mat-divider></mat-divider>
          <mat-card-actions>
            <a mat-button color="primary" class="text-upper">
              <span>View More</span>
            </a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
