<mat-toolbar>
  <mat-toolbar-row>
    <div flex layout="row" layout-align="start center">
      <mat-icon class="push-left-sm push-right">verified_user</mat-icon>
      <span class="push-left-xs">Analyst Homepage</span>
      <span flex></span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div layout-gt-sm="row" layout-align="center start" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <div flex-xs="90" flex-sm="80" flex-md="80" flex-lg="75" flex-gt-lg="60" tdMediaToggle="gt-sm" [mediaClasses]="['pad-top-lg']">
    <div>
      <div>
        <div class="pad-sm">
          <h1 class="mat-headline push-none" tdMediaToggle="gt-md" [mediaClasses]="['mat-display-1']">Welcome to the Vantage Analyst</h1>
          <h3 class="mat-subheading-2 push-none push-bottom-sm" tdMediaToggle="gt-md" [mediaClasses]="['mat-title']">Analyze paths, create analytic workflows, create models and more.</h3>
          <mat-divider></mat-divider>
        </div>
        <div layout-gt-sm="row">
          <div layout-gt-sm="row">
            <div flex-gt-sm>
              <mat-card tdMediaToggle="gt-sm" class="tc-white" [mediaClasses]="['push-top']" style="background: #4CAFB1 url('https://user-images.githubusercontent.com/867883/60043775-b98ee300-9675-11e9-8fcc-36cf7f81fd51.png') top left / cover no-repeat;" layout="column">
                <mat-card-title>Path</mat-card-title>
                <div class="pad-left pad-right" flex>
                  <p class="mat-body-2">Path analysis is central to many of the analytic challenges we tackle in the field. Think for a minute about the
                  questions you are likely asking about your business that involve a path around a particular event.</p>
                </div>
                <div class="pad">
                  <a mat-stroked-button color="white" class="text-upper" href="https://vantage-path-analyzer.ac02.teratitan.com/login" target="_blank">
                    <span>View More</span>
                  </a>
                </div>
              </mat-card>
            </div>
            <div flex-gt-sm>
              <mat-card tdMediaToggle="gt-sm" class="tc-white" [mediaClasses]="['push-top']" style="background: #3F97C4 url('https://user-images.githubusercontent.com/867883/60043778-b98ee300-9675-11e9-9612-a23edbdb9612.png') top left / cover no-repeat;" layout="column">
                <mat-card-title>Model</mat-card-title>
                <div class="pad-left pad-right" flex>
                  <p class="mat-body-2">Model enables the prediction of outcomes. Common business use cases include Marketing offers and recommendation
                  propensity, churn-risk scoring, predictive maintenance, and healthcare prediction.</p>
                </div>
                <div class="pad">
                  <a mat-stroked-button color="white" class="text-upper" href="https://vantage-modeler.ac02.teratitan.com/login" target="_blank">
                    <span>View More</span>
                  </a>
                </div>
              </mat-card>
            </div>
            <div flex-gt-sm>
              <mat-card tdMediaToggle="gt-sm" class="tc-white" [mediaClasses]="['push-top']" style="background: #4CAFB1 url('https://user-images.githubusercontent.com/867883/60043777-b98ee300-9675-11e9-9876-b92d872eb069.png') top left / cover no-repeat;" layout="column">
                <mat-card-title>Workflow</mat-card-title>
                <div class="pad-left pad-right" flex>
                  <p class="mat-body-2">Enable complex, rules-based financial analytic calculations for multi-dimensional profitability analytics, financial
                  reconciliation and consolidation, regulation compliance, and compensation.</p>
                </div>
                <div class="pad">
                  <a mat-stroked-button color="white" class="text-upper" href="https://cj02.teratitan.com/workflow/flows" target="_blank">
                    <span>View More</span>
                  </a>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
        <div layout-gt-sm="row">
          <div flex-gt-sm="33">
            <mat-card tdMediaToggle="gt-sm" [mediaClasses]="['push-top']">
              <mat-card-title>Recent Path Analysis</mat-card-title>
              <mat-divider></mat-divider>
              <mat-nav-list dense>
                <ng-template let-item let-last="last" ngFor [ngForOf]="paths">
                  <a mat-list-item href="{{item.link}}">
                    <mat-icon matListAvatar>call_split</mat-icon>
                    <h4 mat-line><span class="text-wrap">{{item.title}}</span></h4>
                    <p mat-line>{{item.description}}</p>
                  </a>
                  <mat-divider *ngIf="!last"></mat-divider>
                </ng-template>
              </mat-nav-list>
              <mat-divider></mat-divider>
              <mat-card-actions>
                <a mat-button color="primary" class="text-upper" href="https://vantage-path-analyzer.ac02.teratitan.com/login" target="_blank">
                  <span>View More</span>
                </a>
              </mat-card-actions>
            </mat-card>
          </div>
          <div flex-gt-sm="33">
            <mat-card tdMediaToggle="gt-sm" [mediaClasses]="['push-top']">
              <mat-card-title>Recent Models</mat-card-title>
              <mat-divider></mat-divider>
              <mat-nav-list dense>
                <ng-template let-item let-last="last" ngFor [ngForOf]="models">
                  <a mat-list-item href="{{item.link}}">
                    <mat-icon matListAvatar>line_style</mat-icon>
                    <h4 mat-line><span class="text-wrap">{{item.title}}</span></h4>
                    <p mat-line>{{item.description}}</p>
                  </a>
                  <mat-divider *ngIf="!last"></mat-divider>
                </ng-template>
              </mat-nav-list>
              <mat-divider></mat-divider>
              <mat-card-actions>
                <a mat-button color="primary" class="text-upper" href="https://vantage-modeler.ac02.teratitan.com/login" target="_blank">
                  <span>View More</span>
                </a>
              </mat-card-actions>
            </mat-card>
          </div>
          <div flex-gt-sm="33">
            <mat-card tdMediaToggle="gt-sm" [mediaClasses]="['push-top']">
              <mat-card-title>Recent Workflows</mat-card-title>
              <mat-divider></mat-divider>
              <mat-nav-list dense>
                <ng-template let-item let-last="last" ngFor [ngForOf]="workflows">
                  <a mat-list-item [routerLink]="[item.route]">
                    <mat-icon matListAvatar>clear_all</mat-icon>
                    <h4 mat-line><span class="text-wrap">{{item.title}}</span></h4>
                    <p mat-line>{{item.description}}</p>
                  </a>
                  <mat-divider *ngIf="!last"></mat-divider>
                </ng-template>
              </mat-nav-list>
              <mat-divider></mat-divider>
              <mat-card-actions>
                <a mat-button color="primary" class="text-upper" href="https://cj02.teratitan.com/workflow/flows" target="_blank">
                  <span>View More</span>
                </a>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <div layout-gt-sm="row">
          <div flex-gt-sm>
            <mat-card>
              <mat-card-title>Analyst Demos</mat-card-title>
              <mat-card-subtitle>Test out industry demos</mat-card-subtitle>
              <mat-divider></mat-divider>
              <mat-nav-list dense>
                <ng-template let-item let-last="last" ngFor [ngForOf]="demos">
                  <a mat-list-item href="{{item.link}}">
                    <mat-icon matListAvatar>queue_play_next</mat-icon>
                    <h4 mat-line><span class="text-wrap">{{item.title}} Demo</span></h4>
                  </a>
                  <mat-divider *ngIf="!last"></mat-divider>
                </ng-template>
              </mat-nav-list>
              <mat-divider></mat-divider>
              <mat-card-actions>
                <a mat-button color="primary" class="text-upper">
                  <span>View All</span>
                </a>
              </mat-card-actions>
            </mat-card>
          </div>
          <div flex-gt-sm>
            <mat-card>
              <mat-card-title>Other Applications</mat-card-title>
              <mat-card-subtitle>Other useful Analyst Apps</mat-card-subtitle>
              <mat-divider></mat-divider>
              <mat-nav-list dense>
                <ng-template let-item let-last="last" ngFor [ngForOf]="apps">
                  <a mat-list-item href="{{item.link}}">
                    <mat-icon matListAvatar>web</mat-icon>
                    <h4 mat-line><span class="text-wrap">{{item.title}}</span></h4>
                  </a>
                  <mat-divider *ngIf="!last"></mat-divider>
                </ng-template>
              </mat-nav-list>
              <mat-divider></mat-divider>
              <mat-card-actions>
                <a mat-button color="primary" class="text-upper">
                  <span>View All</span>
                </a>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <div layout-gt-sm="row">
          <div flex-gt-sm>
            <mat-card>
              <mat-card-title>Most Recent Users</mat-card-title>
              <mat-card-subtitle>Manage the latest users</mat-card-subtitle>
              <mat-divider></mat-divider>
              <mat-nav-list dense>
                <ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4]">
                  <a mat-list-item>
                    <mat-icon matListAvatar>apps</mat-icon>
                    <h4 mat-line><span class="text-wrap">sa183023@teradata.com</span></h4>
                    <p mat-line>service account user</p>
                    <mat-icon matTooltip="Running" class="push-right"><span class="tc-td-teal">check_circle</span></mat-icon>
                    <span>
                      <button mat-icon-button [matMenuTriggerFor]="menu3" aria-label="Options">
                        <mat-icon>more_vert</mat-icon>
                      </button>
                      <mat-menu #menu3="matMenu" xPosition="before">
                        <button mat-menu-item>
                          <mat-icon>aspect_ratio</mat-icon>
                          <span>Configure</span>
                        </button>
                        <button mat-menu-item>
                          <mat-icon>bookmark_border</mat-icon>
                          <span>Bookmark</span>
                        </button>
                      </mat-menu>
                    </span>
                  </a>
                  <mat-divider *ngIf="!last"></mat-divider>
                </ng-template>
              </mat-nav-list>
              <mat-divider></mat-divider>
              <mat-card-actions>
                <a mat-button color="primary" class="text-upper">
                  <span>Manage Users</span>
                </a>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
