<mat-toolbar>
  <mat-toolbar-row>
    <div flex layout="row" layout-align="start center">
      <mat-icon class="push-left-sm push-right">store</mat-icon>
      <span class="push-left-xs">Browse</span>
      <span flex></span>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div layout-gt-sm="row" layout-align="center start" class="pad">
  <div flex-xs="90" flex-sm="80" flex-md="80" flex-lg="75" flex-gt-lg="60" tdMediaToggle="gt-sm" [mediaClasses]="['pad-top-lg']">
    <div tdMediaToggle="sm" [mediaClasses]="['pad']">
      <h1 class="mat-display-1 push-none">Explore solutions, scripts & share insights</h1>
      <h3 class="mat-title push-none push-bottom-sm">Browse and test the powerful REST APIs included in the Vantage platform</h3>
      <td-search-box [alwaysVisible]="true" hide-xs flex #searchBox class="mat-whiteframe-z1 td-search" placeholder="search"></td-search-box>
    </div>
  </div>
</div>
<div layout-gt-sm="row" layout-align="center start" tdMediaToggle="gt-xs" [mediaClasses]="['push-top-xl']" class="bgc-contrast push-top">
  <div flex-xs="90" flex-sm="80" flex-md="80" flex-lg="75" flex-gt-lg="60" tdMediaToggle="gt-sm" class="pad-md">
      <h3 class="mat-headline push-none">Teradata Official Applications</h3>
      <div layout-gt-sm="row">
        <div flex-gt-sm="33">
          <mat-card>
            <mat-card-subtitle class="pad push-none">Teradata</mat-card-subtitle>
            <mat-card-title style="padding-top:0">Analytics Calculator</mat-card-title>
            <mat-card-content [style.margin-bottom.px]="0">
              Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
            </mat-card-content>
            <mat-card-actions>
              <div layout="row">
                <a mat-button color="primary" class="text-upper">
                  <span>View</span>
                </a>
                <span flex></span>
                <button mat-icon-button matTooltip="Bookmark">
                  <mat-icon>bookmark_outline</mat-icon>
                </button>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
        <div flex-gt-sm="33">
          <mat-card>
            <mat-card-subtitle class="pad push-none">Teradata</mat-card-subtitle>
            <mat-card-title style="padding-top:0">Path Analyzer</mat-card-title>
            <mat-card-content [style.margin-bottom.px]="0">
              Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
            </mat-card-content>
            <mat-card-actions>
              <div layout="row">
                <a mat-button color="primary" class="text-upper">
                  <span>View</span>
                </a>
                <span flex></span>
                <button mat-icon-button matTooltip="Bookmark">
                  <mat-icon>bookmark_outline</mat-icon>
                </button>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
        <div flex-gt-sm="33">
          <mat-card>
            <mat-card-subtitle class="pad push-none">Teradata</mat-card-subtitle>
            <mat-card-title style="padding-top:0">ML Modeler</mat-card-title>
            <mat-card-content [style.margin-bottom.px]="0">
              Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
            </mat-card-content>
            <mat-card-actions>
              <div layout="row">
                <a mat-button color="primary" class="text-upper">
                  <span>View</span>
                </a>
                <span flex></span>
                <button mat-icon-button matTooltip="Bookmark">
                  <mat-icon>bookmark_outline</mat-icon>
                </button>
              </div>
            </mat-card-actions>
          </mat-card>
        </div>
      </div>
  </div>
</div>
<div layout-gt-sm="row" layout-align="center start" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <div flex-xs="90" flex-sm="80" flex-md="80" flex-lg="75" flex-gt-lg="60" tdMediaToggle="gt-sm" [mediaClasses]="['pad-top-lg']">
    <div layout-gt-sm="row">
      <div flex-gt-sm="75" tdMediaToggle="gt-sm" [mediaClasses]="['push-right']">
        <div class="pad-sm">
          <h2 class="mat-headline">Featured</h2>
          <mat-divider></mat-divider>
        </div>
        <div layout-gt-sm="row">
          <div flex-gt-sm="33">
            <mat-card>
              <mat-card-subtitle class="pad push-none">Dashboard</mat-card-subtitle>
              <mat-card-title style="padding-top:0">System Health</mat-card-title>
              <mat-card-content>
                Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
              </mat-card-content>
              <mat-card-actions>
                <div layout="row">
                  <a mat-button color="primary" class="text-upper" [routerLink]="'/monitoring/dashboard'">
                    <span>View</span>
                  </a>
                  <span flex></span>
                  <a mat-icon-button matTooltip="Info" [routerLink]="'/browse/dashboard'">
                    <mat-icon>info</mat-icon>
                  </a>
                  <button mat-icon-button matTooltip="Bookmark">
                    <mat-icon>bookmark_outline</mat-icon>
                  </button>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
          <div flex-gt-sm="33">
            <mat-card>
              <mat-card-subtitle class="pad push-none">Dashboard</mat-card-subtitle>
              <mat-card-title style="padding-top:0">System Health</mat-card-title>
              <mat-card-content>
                Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
              </mat-card-content>
              <mat-card-actions>
                <div layout="row">
                  <a mat-button color="primary" class="text-upper" [routerLink]="'/monitoring/dashboard'">
                    <span>View</span>
                  </a>
                  <span flex></span>
                  <a mat-icon-button matTooltip="Info" [routerLink]="'/browse/dashboard'">
                    <mat-icon>info</mat-icon>
                  </a>
                  <button mat-icon-button matTooltip="Bookmark">
                    <mat-icon>bookmark_outline</mat-icon>
                  </button>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
          <div flex-gt-sm="33">
            <mat-card>
              <mat-card-subtitle class="pad push-none">Dashboard</mat-card-subtitle>
              <mat-card-title style="padding-top:0">System Health</mat-card-title>
              <mat-card-content>
                Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
              </mat-card-content>
              <mat-card-actions>
                <div layout="row">
                  <a mat-button color="primary" class="text-upper" [routerLink]="'/monitoring/dashboard'">
                    <span>View</span>
                  </a>
                  <span flex></span>
                  <a mat-icon-button matTooltip="Info" [routerLink]="'/browse/dashboard'">
                    <mat-icon>info</mat-icon>
                  </a>
                  <button mat-icon-button matTooltip="Bookmark">
                    <mat-icon>bookmark_outline</mat-icon>
                  </button>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <div class="pad-sm push-top">
          <h2 class="mat-headline">Popular</h2>
          <mat-divider></mat-divider>
        </div>
        <div layout-gt-sm="row">
          <div flex-gt-sm="33">
            <mat-card>
              <mat-card-subtitle class="pad push-none">Dashboard</mat-card-subtitle>
              <mat-card-title style="padding-top:0">System Health</mat-card-title>
              <mat-card-content>
                Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
              </mat-card-content>
              <mat-card-actions>
                <div layout="row">
                  <a mat-button color="primary" class="text-upper">
                    <span>View</span>
                  </a>
                  <span flex></span>
                  <a mat-icon-button matTooltip="View Dashboard">
                    <mat-icon>remove_red_eye</mat-icon>
                  </a>
                  <button mat-icon-button matTooltip="Bookmark">
                    <mat-icon>bookmark_outline</mat-icon>
                  </button>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
          <div flex-gt-sm="33">
            <mat-card>
              <mat-card-subtitle class="pad push-none">Dashboard</mat-card-subtitle>
              <mat-card-title style="padding-top:0">System Health</mat-card-title>
              <mat-card-content>
                Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
              </mat-card-content>
              <mat-card-actions>
                <div layout="row">
                  <a mat-button color="primary" class="text-upper">
                    <span>View</span>
                  </a>
                  <span flex></span>
                  <a mat-icon-button matTooltip="View Dashboard">
                    <mat-icon>remove_red_eye</mat-icon>
                  </a>
                  <button mat-icon-button matTooltip="Bookmark">
                    <mat-icon>bookmark_outline</mat-icon>
                  </button>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
          <div flex-gt-sm="33">
            <mat-card>
              <mat-card-subtitle class="pad push-none">Dashboard</mat-card-subtitle>
              <mat-card-title style="padding-top:0">System Health</mat-card-title>
              <mat-card-content>
                Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition.
              </mat-card-content>
              <mat-card-actions>
                <div layout="row">
                  <a mat-button color="primary" class="text-upper">
                    <span>View</span>
                  </a>
                  <span flex></span>
                  <a mat-icon-button matTooltip="View Dashboard">
                    <mat-icon>remove_red_eye</mat-icon>
                  </a>
                  <button mat-icon-button matTooltip="Bookmark">
                    <mat-icon>bookmark_outline</mat-icon>
                  </button>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
        <div class="pad-sm push-top">
          <h2 class="mat-headline">Most Recent</h2>
          <mat-divider></mat-divider>
        </div>
        <div layout-gt-sm="row">
          <div flex-gt-sm="33">
            <mat-card tdMediaToggle="gt-sm" [mediaClasses]="['push-top']">
              <mat-card-title>Reports</mat-card-title>
              <mat-card-subtitle>Latest reports</mat-card-subtitle>
              <mat-divider></mat-divider>
              <mat-nav-list>
                <ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4]">
                  <a mat-list-item>
                    <mat-icon matListAvatar>trending_up</mat-icon>
                    <h4 mat-line><span class="text-wrap">Global social sentiment</span></h4>
                    <p mat-line>Twitter, LinkedIn & Facebook reactions</p>
                  </a>
                  <mat-divider *ngIf="!last"></mat-divider>
                </ng-template>
              </mat-nav-list>
              <mat-divider></mat-divider>
              <mat-card-actions>
                <a mat-button color="primary" class="text-upper">
                  <span>View More</span>
                </a>
              </mat-card-actions>
            </mat-card>
          </div>
          <div flex-gt-sm="33">
            <mat-card tdMediaToggle="gt-sm" [mediaClasses]="['push-top']">
              <mat-card-title>Dashboards</mat-card-title>
              <mat-card-subtitle>Latest dashboards</mat-card-subtitle>
              <mat-divider></mat-divider>
              <mat-nav-list>
                <ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4]">
                  <a mat-list-item>
                    <mat-icon matListAvatar>dashboard</mat-icon>
                    <h4 mat-line><span class="text-wrap">Marketing org dashboard</span></h4>
                    <p mat-line>Organizational KPIs and metrics</p>
                  </a>
                  <mat-divider *ngIf="!last"></mat-divider>
                </ng-template>
              </mat-nav-list>
              <mat-divider></mat-divider>
              <mat-card-actions>
                <a mat-button color="primary" class="text-upper">
                  <span>View More</span>
                </a>
              </mat-card-actions>
            </mat-card>
          </div>
          <div flex-gt-sm="33">
            <mat-card tdMediaToggle="gt-sm" [mediaClasses]="['push-top']">
              <mat-card-title>Scripts</mat-card-title>
              <mat-card-subtitle>Latest scripts</mat-card-subtitle>
              <mat-divider></mat-divider>
              <mat-nav-list>
                <ng-template let-last="last" ngFor [ngForOf]="[0,1,2,3,4]">
                  <a mat-list-item>
                    <mat-icon matListAvatar>code</mat-icon>
                    <h4 mat-line><span class="text-wrap">Year over year financials</span></h4>
                    <p mat-line>Departmental growth from year to year (YoY)</p>
                  </a>
                  <mat-divider *ngIf="!last"></mat-divider>
                </ng-template>
              </mat-nav-list>
              <mat-divider></mat-divider>
              <mat-card-actions>
                <a mat-button color="primary" class="text-upper">
                  <span>View More</span>
                </a>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
      <div flex-gt-sm="25">
        <div class="pad-sm">
          <h2 class="mat-headline">Filter</h2>
          <mat-divider></mat-divider>
          <div class="pad-sm">
            <mat-slide-toggle labelPosition="after">Bookmarked</mat-slide-toggle>
          </div>
          <div class="pad-sm">
            <mat-slide-toggle labelPosition="after">Shared with me</mat-slide-toggle>
          </div>
          <div class="pad-sm">
            <mat-slide-toggle labelPosition="after">My content</mat-slide-toggle>
          </div>
        </div>
        <div class="pad-sm">
          <h2 class="mat-headline">Type</h2>
          <mat-divider></mat-divider>
          <div class="pad-sm">
            <mat-radio-button>Application</mat-radio-button>
          </div>
          <div class="pad-sm">
            <mat-radio-button [routerLink]="'dashboards'">Dashboards</mat-radio-button>
          </div>
          <div class="pad-sm">
            <mat-radio-button>Datasets</mat-radio-button>
          </div>
          <div class="pad-sm">
            <mat-radio-button>Notebooks</mat-radio-button>
          </div>
          <div class="pad-sm">
            <mat-radio-button>Reports</mat-radio-button>
          </div>
          <div class="pad-sm">
            <mat-radio-button>Scripts</mat-radio-button>
          </div>
          <div class="pad-sm">
            <mat-radio-button>Use Cases</mat-radio-button>
          </div>
        </div>
        <div class="pad-sm">
          <h2 class="mat-headline">Tags</h2>
          <mat-divider></mat-divider>
          <div class="pad-sm">
            <mat-checkbox>Analytics</mat-checkbox>
          </div>
          <div class="pad-sm">
            <mat-checkbox>Compute</mat-checkbox>
          </div>
          <div class="pad-sm">
            <mat-checkbox>CRM</mat-checkbox>
          </div>
          <div class="pad-sm">
            <mat-checkbox>Developer</mat-checkbox>
          </div>
          <div class="pad-sm">
            <mat-checkbox>Email</mat-checkbox>
          </div>
          <div class="pad-sm">
            <mat-checkbox>Machine Learning</mat-checkbox>
          </div>
          <div class="pad-sm">
            <mat-checkbox>Mobile</mat-checkbox>
          </div>
          <div class="pad-sm">
            <mat-checkbox>Monitoring</mat-checkbox>
          </div>
          <div class="pad-sm">
            <mat-checkbox>Networking</mat-checkbox>
          </div>
          <div class="pad-sm">
            <mat-checkbox>Operations</mat-checkbox>
          </div>
          <div class="pad-sm">
            <mat-checkbox>Security</mat-checkbox>
          </div>
          <div class="pad-sm">
            <mat-checkbox>Social</mat-checkbox>
          </div>
          <div class="pad-sm">
            <mat-checkbox>Storage</mat-checkbox>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>